---
layout: default
description: Aery32 devzone is a community site for Aery32 development and projects.
---

<div class="container">
<div class="row">

<div class="span9">
	<div class="hero-unit">
		<h1>Welcome to Aery32 devzone</h1>
		<p>Aery32 community site will be opened here ASAP. Below you can see ideas for the topics we have planned to write about. You are also welcomed to write articles and provide ideas! Check it again in two weeks or be in touch via GitHub.</p>
	</div>
	<div class="post-tiles hfeed">
		<div class="row">
			{% for post in site.posts offset: 0 limit: 3 %}
				{% include post-tile.html %}
			{% endfor %}
		</div>
		<div class="row">
			{% for post in site.posts offset: 3 limit: 3 %}
				{% include post-tile.html %}
			{% endfor %}
		</div>
	</div>
</div>

<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Featured projects</li>
			<li><a href="#">Your project here</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li class="nav-header">Aery32 quick links</li>
			<li><a href="http://aery32.readthedocs.org" target="_blank">Reference guide</a></li>
			<li><a href="http://devzone.aery32.com/aery32/apidoc" target="_blank">Api documentation</a></li>
			<li><a href="https://github.com/aery32/aery32" target="_blank">GitHub repository</a></li>
			<li class="nav-header">Asd</li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul>
	</div>

	<div style="margin-bottom: 20px">
		<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
		new TWTR.Widget({
		  version: 2,
		  type: 'search',
		  search: '#aery32',
		  interval: 30000,
		  title: 'Now tweeting ...',
		  subject: '#aery32',
		  width: 'auto',
		  height: 300,
		  theme: {
		    shell: {
		      background: '#8ec1da',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#ffffff',
		      color: '#444444',
		      links: '#1985b5'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: true,
		    live: true,
		    behavior: 'default'
		  }
		}).render().start();
		</script>
	</div>
</div>

</div>
</div><!-- .container -->