---
layout: default
description: Aery32 DevZone is a community site for Aery32 users, developers and projects.
---

<div class="container">
<div class="row">

<div class="span9">
	<div class="hero-unit">
		<h1>Welcome to Aery32 DevZone</h1>
		<p>This is a community site for Aery32 users and developers. Below you can find the latest articles. You are also welcomed to write articles, tell about your projects and provide ideas!</p>
	</div>
	<div class="post-tiles hfeed">
		<div class="row">
			{% for post in site.posts offset: 0 limit: 3 %}
				{% include post-tile.html %}
			{% endfor %}
		</div>
		<div class="row">
			{% for post in site.posts offset: 3 limit: 3 %}
				{% include post-tile.html %}
			{% endfor %}
		</div>
	</div>
</div>

<div class="span3">
	{% include sidebar-nav.html %}
</div>

</div>
</div><!-- .container -->