{% capture today %}
	{{ site.time | date: '%Y%m%d' }}
{% endcapture %}

{% capture postdate %}
	{{ post.date | date: '%Y%m%d' }}
{% endcapture %}

<div class="span3 hentry post-tile">
	<h2><a class="entry-title" href="{{ site.url }}{{ post.url }}"
		rel="bookmark">{{ post.title }}</a>
		{{ post.created }}
		{% if postdate > today %}
		<span class="label label-success">new</span>
		{% endif %}
	</h2>

	<address class="vcard author pull-left"><span class="fn">
		{{ post.author }}</span></address>

	<abbr class="published updated pull-right"
		title="{{ post.date | date_to_xmlschema }}">
		{{ post.date | date_to_string }}</abbr>

	<div style="clear: both"></div>
	<p>{{ post.summary }}</p>
</div>