{% if content == nil %}
{% assign content = post.content %}
{% endif %}

<div class="row" style="margin-bottom: 10px;">
	<div class="span3">
		{% if post.previous.url %}
		<a href="{{ post.previous.url }}">&laquo; {{ post.previous.title }}</a>
		{% else %}
		&nbsp;
		{% endif %}
	</div>
	<div class="span3" style="text-align: right">
		{% if post.next.url %}
		<a href="{{ post.next.url }}">{{ post.next.title }} &raquo;</a>
		{% else %}
		&nbsp;
		{% endif %}
	</div>
</div>

<div class="hfeed">
<article itemscope itemtype="http://schema.org/BlogPosting" class="post-article hentry">
	<header>
		<h1 itemprop="name" class="entry-title">
		<a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
		<!-- Post level -->
		<span class="pull-right">
			{% if post.level == "beginner" %}
			<span class="label label-success">beginner</span>
			{% else %}
			<span class="label label-warning">advanced</span>
			{% endif %}
		</span>
		</h1>

		<!-- Socials -->
		<div class="post-socials">
		<g:plusone size="medium" href="{{ site.url }}{{ post.url }}"></g:plusone>
		<a href="https://twitter.com/share" class="twitter-share-button"
			data-url="{{ site.url }}{{ post.url }}"
			data-text="{% if post.tweet-text %}{{ post.tweet-text }}{% else %}{{ post.title }}{% endif %}">Tweet</a>
		</div>

	</header>

	<section class="entry-content">{{ content }}</section>

	<footer class="end-of-post">
		This <span xmlns:dct="http://purl.org/dc/terms/"
			href="http://purl.org/dc/dcmitype/Text" property="dct:title"
			rel="dct:type">entry</span> was posted by
			<address class="vcard author">
			{% if post.author-email %}
				<a href="mailto:{{ post.author-email }}">
					<span class="fn">{{ post.author }}</span></a>
			{% else %}
				<span class="fn">{{ post.author }}</span>
			{% endif %}
		</address>

		on <abbr class="published updated"
			title="{{ post.date | date_to_xmlschema }}">
			{{ post.date | date_to_string }}</abbr>

		and is licensed under a
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>.

		The entry is filed under
		{% if post.categories.size == 1 %}
			<a href="/categories#{{ post.categories[0] }}">{{ post.categories[0] }}</a> category.
		{% elsif post.categories.size == 2 %}
			<a href="/categories#{{ post.categories[0] }}">{{ post.categories[0] }}</a> and
			<a href="/categories#{{ post.categories[1] }}">{{ post.categories[1] }}</a> categories.
		{% else %}
			{% for category in post.categories %}
				{% if forloop.last != true %}
				<a href="/categories#{{ category }}">{{ category }}</a>,
				{% else %}
				and <a href="/categories#{{ category }}">{{ category }}</a> categories.
				{% endif %}
			{% endfor %}
		{% endif %}

		<div class="entry-tags clearfix">
			<div class="pull-right"><i class="icon-tags"></i>
				{% for tag in page.tags %}
				<a href="/tag#{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;" rel="tag"><u>{{ tag }}</u></a>
				{% endfor %}
			</div>
		</div>
	</footer>
</article>

{% include disqus.html %}

</div>
