<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Quick links</li>
		<li><a href="http://aery32.readthedocs.org" target="_blank">Aery32 Reference guide</a></li>
		<li><a href="http://devzone.aery32.com/aery32/apidoc" target="_blank">Aery32 API documentation</a></li>
		<li><a href="https://github.com/aery32/aery32" target="_blank">Aery32 GitHub repository</a></li>
		<li><a href="http://www.aery32.com">Aery32 devboard</a></li>

		<li class="nav-header">Atmel's AVR32 Documents</li>
		<li><a href="http://www.atmel.com/devices/AT32UC3A1128.aspx?tab=documents" target="_blank">UC3A0/A1 Datasheet</a></li>
		<li>&nbsp;</li>
		<li><a href="/atom.xml"><img src="/assets/feed-icon-14x14.png" /> subscribe to the feed</a></li>
	</ul>
</div>