<div class="container">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</a>
	<a href="/"><img src="/apple-touch-icon.png" class="pull-left" style="height: 30px; margin: 5px 20px 5px 5px" /></a>

	<div class="nav-collapse">
		<ul class="nav">
			{% capture pageurl %}
				{{ page.url | remove:".html" | remove: "/index" }}
			{% endcapture %}

			{% if pageurl == "" %}
				{% assign pageurl = "/" %}
			{% endif %}

			{% for url in site.urls %}
				<li {% if pageurl == url[1] %}class="active"{% endif %}>
					<a href="{{ url[1] }}">{{ url[0] }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>