<div class="container">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</a>
	<a href="/"><img src="/apple-touch-icon.png" class="pull-left" style="height: 30px; margin: 5px 20px 5px 5px" /></a>

	<div class="nav-collapse">
		<ul class="nav">
			{% for url in site.urls %}
			{% assign link = url[1] | regex:/(index\.html|\.html)$/, "" %}
			<li {% if page.url == link %}class="active"{% endif %}>
				<a href="{{ link }}">{{ url[0] }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>