.hero-unit h1 {
	font-size: 42px;
	margin-bottom: 15px;
}

.post-tile h2 {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}
.post-tile abbr, .post-tile address {

	margin: 2px 0 0 0;
	font-size: 11px;
}
.post-tile abbr {
	font-style: italic;
}
.post-tile p {
	margin-top: 10px;
	text-align: justify;
}

.post-article footer {
	background-color: #F8F8F8;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 5px;
	margin-bottom: 20px;
}
.post-article addr, .post-article address {
	display: inline;
}
.post-article img.pull-right {
	margin: 0 0 20px 20px;
}
.post-article img.pull-left {
	margin: 0 20px 20px 0;
}

.post-socials {
	margin: 10px 0;
}

.entry-tags {
	margin-top: 10px;
}
