.hero-unit h1 {
	font-size: 42px;
	margin-bottom: 15px;
}

.post-tile h2 {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}
.post-tile abbr, .post-tile address {

	margin: 2px 0 0 0;
	font-size: 11px;
}
.post-tile abbr {
	font-style: italic;
}
.post-tile p {
	margin-top: 10px;
	text-align: justify;
}

.post-article h2 {
	margin: 20px 0 5px;
}
.post-article footer {
	background-color: #F8F8F8;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 5px;
	margin-bottom: 20px;
}
.post-article addr, .post-article address {
	display: inline;
}
.entry-tags {
	margin-top: 10px;
}

.post-socials {
	margin: 10px 0;
}

.post-article img.pull-right {
	margin: 0 0 20px 20px;
}
.post-article img.pull-left {
	margin: 0 20px 20px 0;
}

.post-article table {
	width: 100%;
}
.post-article caption {
	font-size: 1.2em;
}
.post-article thead {
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}
.post-article tbody td {
	text-align: center;
}

dl.posts-list address {
	display: none;
}
dl.posts-list .published {
	font-family: OxygenMonoRegular;
}

body { background: #fff url("/images/aery32-background.png"); }